.carousel-caption h5{
    font-size: 3vw;
    font-family: 'Righteous', cursive;
}

.carousel-caption p{
    font-size: 1.3vw;
    font-family: 'Righteous', cursive;
    color: rgb(181, 196, 190);
}

.carousel-item{

}

.bd-example{
    margin : 0 auto;
}
.custom_carousel{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('abstract-board-wood-vintage-texture-floor-915538-pxhere.com.jpg');
}