.gandalf_frame
{
max-width : 100%;
height : auto;
display: block;
background: url('http://www.alienor.org/publications/aux-armes/images/small/M0846-ACM_N_1995-60_1.png');
background-size: 100% 100%;
}

.reward_text
{
background-color :lightgrey;
font-size: 1em;
font-family: "party";
text-align: center;
border-radius: 1rem;
width: 80%;
margin: 5% auto;
padding: 5%;
opacity: 0;
}

.reward_text span
{
color:
#DF6F47
;
}


.gandalf_frame h3
{
color: white;
font-size: 4em;
font-family: "party";
margin: auto;
text-align: center;
}


.gandalf_frame:hover .reward_text
{
opacity: 1;
transition: 1500ms;
}

.gandalf_frame:hover h3
{
font-size: 3rem;
transition: 1000ms;
transform :translate(0,5rem);
}